
<%- include('include/_header') %>




  <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->

      <section class="movie-detail">
        <div class="container">

          <figure class="movie-detail-banner">
<a href="http://localhost:300/<%= data.img %>">
            <img src="http://localhost:300/<%= data.img %>" alt="<%=data.img%>">
</a>
           

          </figure>

          <div class="movie-detail-content">

            <p class="detail-subtitle">details</p>

            <h1 class="h1 detail-title">
             <%= data.title %>
            </h1>

            <div class="meta-wrapper">

              <div class="badge-wrapper">
                <div class="badge badge-fill">PG 13</div>

                <div class="badge badge-outline">HD</div>
              </div>

              <div class="ganre-wrapper">
                <a href="#">Comedy,</a>

                <a href="#">Action,</a>

                <a href="#">Adventure,</a>

                <a href="#">Science Fiction</a>
              </div>

              <div class="date-time">

                <div>
                  <ion-icon name="calendar-outline"></ion-icon>

                  <time datetime="2021">2021</time>
                </div>

                <div>
                  <ion-icon name="time-outline"></ion-icon>

                  <time datetime="PT115M">115 min</time>
                </div>

              </div>

            </div>

            <p class="storyline">
                <%= data.txt %>
            </p>

          

            <a href="/assets/images/movie-4.png" download class="download-btn">
              <span>Download</span>

              <ion-icon name="download-outline"></ion-icon>
            </a>

          </div>

        </div>
      </section>





      <!-- 
        - #TV SERIES
      -->


    </article>
  </main>






  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>

<style>
    img{
        width: 300px;
    }
    .movie-detail {
  background: url("http://localhost:300/assets/images/movie-detail-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 160px;
  padding-bottom: var(--section-padding);
}
</style>