<% for(var i = 0; i < posts.length; i++) { 
    console.log('hello')
    %>
<tr>
 
        
    <td><%= i + 1 %></td>
    <td><%= posts[i].title %></td>
    <td><img src="<%= posts[i].img %>" alt="<%= posts[i].img %>" srcset="">
        
        </td>

    <td> 
    </a>
        <a href="/dashboard/update-post?id=<%= posts[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= posts[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>

  
</tr>
<% } %>



<style>
    img{
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 20px;
    margin: auto;
    border-radius: 1px;
    object-fit: cover;
    }
</style>